FORMAT: 1A
HOST: http://api.startrack.com.au/shipping

# startrack

## Data Structures 

### Consignment
- consignmentId: string
- consignmentStatus: string

### ConsignmentSummary
- consignmentId: string
- consignmentStatus: string
- consignmentType: string
- serviceCode: string
- despatchDate: `2016-01-01T00:00:00`
- etaData: `2016-01-12T00:00:00`
- lastStatusDateTime: `2016-01-12T00:00:00`
- receiver: (Receiver)
- references: (References)

### TrackingEvents
- scanningDepot: string
- statusDescription: datetime

### Scanner
- depotCode: string
- id: string
- type: string

### LineItems
- freightItems: (FreightItems)
- quantity: string

### DangerouseGoods
- interimDgPrinted: datetime
- quantity: string
- weight: decimal
- lockSeq: string

### FreightItems
- id: string

### StatusHistory
- userStatusHistory: (UserStatusHistory)
- dateTime: datetime
- signatoryName: string
- status: string
- depot: string

### UserStatusHistory
- dateTime: datetime
- status: string
- user: string

### References
- name: string
- value: string
- type: string
- printOnLabel: boolean
- priority: int

### CardLeftOptions
- allowRedeliver: boolean
- allowRedirect: boolean
- allowATL: boolean
- allowDepotCollection: boolean

### Contact
- phone: string
- email: string

### ContactDetails
- claimantName: string
- claimantPhone: string
- claimantFax: string
- claimantEmail: string
- claimantAccount: string

### Receiver
- name: string
- contactDetail: (ReceiverContactDetail)

### ReceiverContactDetail
- address(ReceiverAddress)

### ReceiverAddress
- AddressLines: Collection of string
- Postcode: string
- Suburb: string
- State: string

### WantsTo
- redeliver: boolean
- redirect: boolean

### CardLeft 
- consignment: string
- barcode: string
- contactPhone: string
- receiverName: string
- redeliveryDate: string
- requestedByName: string
- WantsToRedeliver: boolean
- WantsToRedirect: boolean
- WantsToRedeliverATL: boolean
- ReceiverMail: string
- RecieverCompanyName: string
- ReceiverAddress1: string
- ReceiverAddress2: string
- Suburb: string
- State: string
- Postcode: string

### Response
- type: string
- code: integer
- message: string

### BookingResponse
- favouriteName: string
- bookingDetails: (BookingDetails)
- pickupDetails: (PickupDetails)
- freightDetails: (FreightDetails)

### ClaimItem
- name: string
- consignmentId: string

### LateDeliveryClaim
- claimItem: (ClaimItem)
- contactDetail: (ContactDetails)

### Booking
- CallerPhone: string
- Account: string
- Consignment: string
- ServiceType: string
- DangerousGoods: boolean
- PickupSuburb: string
- PickupState: string
- PickupPostcode: string
- PickupPointOfCollection: string
- PickupPrivateAddress: boolean
- PickupDate: string
- PickupReadyTime: string
- PickupCloseTime: string
- PickupSpecialInstructions: string
- freightItems: (RequestFreightDetails)

### RequestBookingDetails
- callerPhoneNbr: string
- accountId: string
- consignment: string
- serviceType: Collection of string
- dangerousGoods: boolean

### RequestPickupDetails
- Suburb: string
- State: string
- Postcode: string
- PointOfCollection: string
- PrivateAddress: boolean
- PickupDate: string
- ReadyTime: string
- CloseTime: string
- SpecialInstructions: string

### BookingDetails
- account: string
- callerPhoneNbr: string
- accountId: string
- consignment: string
- contactName: string
- companyName: string
- emailAddress: string
- serviceType: Collection of string
- serviceTypeDefault: string

### PickupDetails
- Suburb: string
- Postcode: string
- State: string
- PointOfCollection: string
- Contact: string
- PhoneNbr: string

### FreightDetails
- Description: string
- Quantity: string
- Weight: string
- Length: string
- Width: string
- Height: string
- HeaviestItemWeight: string
- TailgateRequired: boolean
- PackagingRequired: boolean
- SpecialHandlingRequired: boolean

### RequestFreightDetails
- Description: string
- Quantity: string
- Weight: string
- Length: string
- Width: string
- Height: string
- HeaviestItemWeight: string
- TailgateRequired: boolean
- PackagingRequired: boolean
- SpecialHandlingRequired: boolean


### ReceiverDeliveryDetails
- receiverSuburb: string
- receiverState: string
- receiverPostCode: string

### SenderDeliveryDetails
- SenderSuburb: string
- SenderPostCode: string
- SenderState: string

### DeliveryTimeEstimateDetails
- serviceCode: string
- arrivalDate: string
- despatchDate: string
- receiverSuburb: string
- receiverState: string
- receiverPostCode: string
- SenderSuburb: string
- SenderPostCode: string
- SenderState: string

### DeliveryTimeEstimate
- eta: datetime
- etd: datetime

### CardLeftCheck
- consignment: string
- barcode: string
- receiverName: string
- receiverAddress1: string
- receiverAddress2: string
- receiverSuburb: string
- receiverState: string
- receiverPostcode: string
- wantsToRedeliver: bool
- wantsToRedirect: bool

### CardLeftDepot
- branchName: string
- collectionHours: string
- address1: string
- address2: string
- suburb: string
- postcode: string
- state: string
- instruction: string
- longitudeLatitude: string

## Consignments Collection [/v1/consignments/{id1%2cid2%2cidn}]
A comma separated list of `id` can be passed as parameter to fetch a list of Consignments.

+ Parameters
    + id (required, string, `Z000001,Z000002`) ... String `id` of the Consignments to retrieve.
    

    
### List Consignments by consignment ids [GET]

+ Response 200 (application/json)
    + Attributes (Consignment)
  

## Consignments By Reference Collection [/v1/consignmentsbyreferenceid/{id1%2cid2%2cidn}]
A comma separated list of `id` can be passed as parameter to fetch a list of Consignments by reference Id

+ Parameters
    + id (required, string, `ABCD1234,XYX1234`) ... String reference `id` of the Consignments to retrieve.

    
### List Consignments by reference ids [GET]

+ Response 200 (application/json)
    + Attributes (Consignment)
    

    
## Consignments Summary [/v1/consignmentsummary{?consignmentId,referenceId,searchType}]


+ Parameters
    + consignmentId (required, string)
    + referenceId (required,string) 
    + searchType (required,integer)

    
### Consignments Summary [GET]

+ Response 200 (application/json)
    + Attributes (ConsignmentSummary)
    

<!-- Note there is no GET /v1/consignment/{id} -->

## Card Left Options [/v1/cardleftoptions{?barcode,consignment}]
Object containing the options allowed when a client has been carded

+ Parameters
    + barcode or consignment


### Card Left Options [GET]

+ Response 200 (application/json)
    + Attributes (array[CardLeftOptions])
    

    
## Card Left [/v1/cardleft]
Allow client to create a action based on card left options

### Card Left [POST]

+ Request (application/json)
    + Attributes (CardLeft)   
            
+ Response 200 (application/json) 
    + Attributes (Response) 
    
    

## List Bookings [/v1/pickupbookinginfo/{?phoneNumber,accountId,consignmentId}]
This service allows the client get a list of pickup booking.

+ Parameters
    + phoneNumber (required, string)
    + accountId (required,string) 
    + consignmentId (required,string)

    
### List Bookings [GET]

+ Response 200 (application/json)
    + Attributes (BookingResponse)    
    

## Booking [/v1/pickupbooking]
Allow client to create a new booking

### Booking [POST]

+ Request (application/json)
    + Attributes (Booking)
    
+ Response 200 (application/json) 
    + Attributes (Response)
    

    
## Delivery Time [/v1/deliverytimeestimate]
Allow client to get estimated delivery time

### Delivery Time Estimate [POST]
note too many parameters to use GET

+ Request (application/json)
    + Attributes (DeliveryTimeEstimateDetails)
    
+ Response 200 (application/json) 
    + Attributes (DeliveryTimeEstimate)
    

    
## CardLeftCheck [/v1/cardleftcheck/{?consignment,barcode,receiverName,receiverAddress1,receiverAddress2,receiverSuburb,receiverState,receiverPostcode,wantsToRedeliver,wantsToRedirect}]
This service allows the check the cardleft

+ Parameters
    + consignment (required, string)
    + barcode (required,string) 
    + receiverName (required,string)
    + receiverAddress1 (required,string)
    + receiverAddress2 (required,string)
    + receiverSuburb (required,string)
    + receiverState (required,string)
    + receiverPostcode (required,string)
    + wantsToRedeliver (required,boolean)
    + wantsToRedirect (required,boolean)

### CardLeftCheck [GET]

+ Response 200 (application/json) 
    + Attributes (Response)
    

    
## CardLeft Depots [/v1/cardleftdepots/{?consignment,barcode,contactPhone,conttactEmail,requestedName}]
This service allows the client get a list of cardleft depot.

+ Parameters
    + consignment (required, string)
    + barcode (required,string) 
    + contactPhone (required,string)
    + contactEmail (required,string)
    + requestedByName (required,string)
    

### CardLeft Depots [GET]

+ Response 200 (application/json)
    + Attributes (CardLeftDepot)